# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp2025/wp-admin/
/wp2025/wp-content/index.php
/wp2025/wp-content/languages
/wp2025/wp-content/plugins/index.php
/wp2025/wp-content/themes/index.php
/wp2025/wp-includes/
/wp2025/index.php
/wp2025/license.txt
/wp2025/readme.html
/wp2025/wp-*.php
/wp2025/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp2025/wp-content/themes/twenty*/

# Example plugin
/wp2025/wp-content/plugins/hello.php

# Uploads
/wp2025/wp-content/uploads/

# Log files
*.log

# htaccess
/wp2025/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# VScode
/.vscode

# Node
/wp2025/wp-content/themes/utrading/node_modules/

# Mac
.DS_Store