.ut_breadcrumb{
    margin: 0;
    padding: 0;
    list-style: none;

    &-item{
        display: inline;

        &:not(:last-child){
            margin-right: 10px;

            &::after{
                content: ">";
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}