@import 'variables';

.site-footer{
    padding: 20px;
    background-color: var(--ut-green);
    @media screen and (min-width: 768px) {
        padding: 60px 20px 20px;
    }

    .inner{
        margin: 0 auto;
        max-width: 1000px;
    }

    a{
        color: var(--ut-white);
    }
}

.ut_fmenu{

    &_list{
        margin: 0;
        list-style: none;
    }

    &_item{

        a{
            border-bottom: 1px solid var(--ut-green);
            transition: opacity 0.3s ease;

            &:hover{
                opacity: 0.6;
            }

            &::before{
                content: "-";
                margin-right: 0.5em;
                color: var(--ut-white);
            }

        }


        .ja{
            font-size: 16px;
        }
    }

    &_list_sub{
        margin: 0 0 5px 0;
        padding: 0 0 0 1em;
    }

    &_item_sub{
        line-height: 1.2;

        a{
            line-height: 1.2;

            &::before{
                content: "・";
            }
        }

        .ja{
            font-size: 0.8em;
        }
    }
}

.footer_information{
    margin-top: 40px;
    color: var(--ut-white);

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }

    p{
        margin: 0;
        padding: 0;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &_company{

        &_logo{
            @media screen and (min-width: 768px) {
                margin-right: 10px !important;
            }

            img{
                margin: 0 auto;
                width: 40px;
            }
        }

        &_name{
            font-size: 24px;
            font-weight: 700;
        }

        &_address{
            font-size: 14px;
        }

        &_tel{
            font-size: 14px;
        }

        &_fax{
            font-size: 14px;
        }
    }
}

.ut_fsns{

    &_list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 20px 0 0;
        padding: 10px 0 0;
        list-style: none;
        border-top: 1px solid var(--ut-white);
    }

    &_item{

        a{
            color: var(--ut-white);
            font-size: 20px;
        }
    }
}

.copyright{
    margin-top: 20px;
    color: var(--ut-white);
    font-size: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 12px;
    }
}