:root {
    --ut-black: #333333;
    --ut-white: #FFFFFF;
    --ut-green: #004625;
    --ut-lightgreen: #3bab76;
    --ut-red: #bd0040;
    --ut-blue: #5900ff;
}

$font-sans-jp: 'Noto Sans JP', 'Times New Roman', 'YuGothic', 'Hiragino Gothic ProN', 'Yu Gothic', 'MS PGothic';
$font-serif-jp: 'Noto Serif JP', 'Times New Roman', 'YuMincho', 'Hiragino Mincho ProN', 'Yu Mincho', 'MS PMincho', serif;
$font-alike: "Alike Angular", serif;

